{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="body">
    <!-- Your Profile Data -->
    <h1>Your Profile</h1>
    <div class="expenses-container">
        <div class="expense-container">
            <!-- Full Name -->
            <h2>{{ profile.full_name }}</h2>
            <!-- Profile Image -->
            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" alt="No image available">
            {% else %}
                <img src="{% static 'images/user.png' %}" alt="No image available">
            {% endif %}
            <!-- Profile Description -->
            <!-- Total Items Bought -->
            <p>Total Items Bought: {{ total_expenses_count }}</p>
            <!-- Budget Left -->
            <p>Budget Left: {{ money_left }}$</p>
            <div class="right">
                <!-- Edit Profile Button -->
                <a class="button edit" href="{% url 'profileEdit' %}">Edit Profile</a>
                <!-- Delete Profile Button -->
                <a class="button delete" href="{% url 'profileDelete' %}">Delete Profile</a>
            </div>
        </div>
    </div>
    <!-- End Your Profile Data -->
</div>
{% endblock %}